<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Lenth Inform</title>
</head>
<body>
<div class="topnav" id="myTopnav">
    <a href="/" class="active">Головна</a>
    <a href="/topic/war">Війна</a>
    <a href="/topic/economy">Економіка</a>
    <a href="/topic/technology">Технології</a>
    <a href="/authoris">Логін/Реєстрація</a>
    <a href="/post">POST</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<div class="page">
    <div class="favicon">
            <h2>Кабінет користувача</h2>
        <img src="">
        <h2>Im'я користувача:</h2>
        
        <img src="/img/bookmark.png">

    <footer>
        <div id="socials">
            <a href="#"> <img src="/img/twitter.png"> Twitter</a>
            <a href="#"> <img src="/img/facebook.png"> Facebook</a>
            <a href="#"> <img src="/img/youtube.png"> Youtube</a>
            <a href="#"> <img src="/img/telegram.png"> Telegram</a>
            <a href="#"> <img src="/img/instagram.png"> Instagram</a>
        </div>
        <div id="rights">
            Усі права застережені Lenth Inform &copy; 2023
        </div>
    </footer>

</div>
</body>
</html>
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>    