<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Lenth Inform</title>
</head>
<body>
<h1 id="h1post">Post</h1>


<input class="title" type="text" placeholder="Назва новини" name="title">
<textarea class="description" type="text" placeholder="Текст новини" name="news_text"></textarea>
<input class="news_link, videoUrl" type="link" placeholder="Посилання на ВІДЕО" name="link">
<input class="news_link, pictureUrl" type="link" placeholder="Посилання на КРТИНКУ" name="title_image">

<button class="postbtn" type="submit" value="submit"><h3>Запостити</h3></button>
</body>
<script>
    $(".postbtn").click(function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: "/api/addNew",
            dataType:"json",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({
				title: $(".title").val(),
                description: $(".description").val(),
				pictureUrl: $(".pictureUrl").val(),
				videoUrl: $(".videoUrl").val(),

            }),
            success: function (result) {
                alert('ok');
            },
            error: function (result) {
                alert('error');
            }
        });
    })
</script>
</html>