<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Lenth Inform</title>
</head>
<body>
<h1 id="h1post">Post</h1>

<input class="news_link" type="link" placeholder="Посилання на КРТИНКУ" name="title_image">

<input type="text" placeholder="Назва новини" name="title">

<input class="news_link" type="link" placeholder="Посилання на ВІДЕО" name="link">

<textarea type="text" placeholder="Текст новини" name="news_text"></textarea>

<button class="postbtn" type="submit" value="submit"><h3>Запостити</h3></button>
</body>
</html>