<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Lenth Inform</title>
</head>
<body>

<div class="topnav" id="myTopnav">
    <a href="/">Головна</a>
    <a href="/topic/war" th:classappend="${#strings.equals(type,'war')} ? active : ''">Війна</a>
    <a href="/topic/economy" th:classappend="${#strings.equals(type,'economy')} ? active : ''">Економіка</a>
    <a href="/topic/technology" th:classappend="${#strings.equals(type,'technology')} ? active : ''">Технології</a>
    <a href="/topic/authoris">Логін/Реєстрація</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>


<div class="page">

    <div class="favicon">
        <a href="/" class="favicon">
            <h2><img src="/img/favicon.ico">enth Inform</h2>
        </a>
    </div>
    <h2 id="newnewstext">
        <td th:switch="${type}">
            <span th:case="'war'">Війна</span>
            <span th:case="'economy'">Економіка</span>
            <span th:case="'technology'">Технології</span>
        </td>
    </h2>
    <div class="news-container"></div>

    <footer>
        <div id="socials">
            <a href="#"> <img src="/img/twitter.png"> Twitter</a>
            <a href="#"> <img src="/img/facebook.png"> Facebook</a>
            <a href="#"> <img src="/img/youtube.png"> Youtube</a>
            <a href="#"> <img src="/img/telegram.png"> Telegram</a>
            <a href="#"> <img src="/img/instagram.png"> Instagram</a>
        </div>
        <div id="rights">
            Усі права застережені Lenth Inform &copy; 2023
        </div>
    </footer>

</div>


</body>
</html>
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }

    function topic() {
        $.ajax({
            url: '/api/topic/[[${type}]]',
            type: "GET",
            success: function (data) {
                var result = "";
                $.each(data, function (id, news) {
                    result += '<div class="tecnews">' +
                        '<h1 class="newstitle">' + news.title + '</h1>' +
                        '<a> <img src="' + news.pictureUrl + '" class="newsimg"></a>' +
                        '<h3> <pre class="description">' + news.description + '</pre></h3>' +
                        '<a>' + news.videoUrl + '</a>' +
                        '</div>';
                });
                $('.news-container').html(result);
            },
            error: function (error) {
                console.log(`Error ${error}`);
            }
        });
    }

    topic();
</script>